/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu,
    roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  overflow: hidden;
  background:lightgreen;
  min-width: 100%;
  min-height: 100%;
}

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 35ch;
  min-height: 35ch;
  width: 45vw;
  height: 45vw;
  max-width: 50vw;
  max-height: 50vw;
  background-image: url(./images/forest.svg)
}

.card2 {
  min-width: 15ch;
  min-height: 15ch;
  max-width: 20ch;
  max-height: 20ch;
  background-image: url(./images/sunny.svg);
  bottom: 60%;
  right: 30%
}

.card3 {
  opacity: 1;
  min-width: 4ch;
  min-height: 4ch;
  max-width: 7ch;
  max-height: 7ch;
  background-image: url(./images/bird.svg);
  top: 35%;
  left: 50%;
}

.card4 {
  opacity: 1;
  min-height: 11ch;
  min-width: 11ch;
  max-width: 40vw;
  max-height: 40vw;
  /* width: 15ch;
  height: 15ch; */
  background-image: url(./images/tyrannosaurus-rex.svg);
  top: 55%;
}

.card5 {
  opacity: 1;
  min-width: 4ch;
  min-height: 4ch;
  max-width: 7ch;
  max-height: 7ch;
  background-image: url(./images/bird2.svg);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greetings {
  font-size: 4em;
  position: absolute;
  align-self: flex-end;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.switchContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

/* .navBar {
  display: flex;
  flex-flow: row nowrap !important;
  width: 100%;
  justify-content: space-around !important;
  position: absolute
}

.navList {
  list-style-type: none;
  font-size: 1.1em
} */

/* .collapseList {
    position: absolute;
    margin-top: 12%;
} */



