/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu,
    roboto, noto, segoe ui, arial, sans-serif;
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  overflow: hidden;
  background:lightgreen;
}

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 40ch;
  min-height: 40ch;
  width: 45vw;
  height: 45vw;
  max-width: 50ch;
  max-height: 50ch;
  background-image: url(./images/forest.svg)
}

.card2 {
  width: 25ch;
  height: 25ch;
  background-image: url(./images/sunny.svg);
}

.card3 {
  opacity: 1;
  width: 7ch;
  height: 7ch;
  background-image: url(./images/bird.svg);
}

.card4 {
  opacity: 1;
  width: 15ch;
  height: 15ch;
  background-image: url(./images/tyrannosaurus-rex.svg);
}

.card5 {
  opacity: 1;
  width: 7ch;
  height: 7ch;
  background-image: url(./images/bird2.svg);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

